body::before{
  display:block;
  content: "";
  height: 60px;
}
body {

  margin: 0;
  font-family: Arial;
}

/* for id # and for class.*/
/* no need to nested inside but easier to read*/


a {
  color: rgb(251, 255, 0);
}


#back1 {
  background: url('../images/back2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#con{
  background: url('../images/back2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#con2{
  background: url('../images/back2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#exp{
  background: url('../images/back2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#edu{
  background: url('../images/back2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#awr{
  background: url('../images/back2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#skl{
  background: url('../images/back.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#image{
  background: url('../images/back2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
  height: 30%;
}
#photo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    height: 20%;
}
#i1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}
#i2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}
#i3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}
#i4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}
#i5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}
#g1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  height: 28%;
}
#g2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}
.contact-section {
  margin-top: -1em;
  margin-bottom: -4.5em;
}

.contact-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15em;
}

.contact-section .container .contact-left h2 {
  font-size: 2.5em;
}

.contact-section .container .contact-left label {
  display: block;
  font-size: 2 em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.contact-section .container .contact-left input, .contact-section .container .contact-left textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-section .container .contact-left .send-message {
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 3em;
  cursor: pointer;
}

.contact-section .container .contact-left p {
  color: #161511;
  font-size: 1.5em;
  font-weight: bold;
}

.contact-section .container .contact-right {
  margin-left: 3em;
  right: 0;
  top: 1em;
  right: -35em;
}

.contact-section .container .contact-right iframe {
  width: 1000px;
  height: 850px;
}

#footer{
  margin: 0em;
  padding: 1.2em;
  background: #0d0e0d;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
